# Ignore Visual Studio files
.vs/
*.user
*.suo

# Build outputs
bin/
obj/

# Runtime
*.db
*.log

# ASP.NET secrets
secrets.json

# Ignore Rider/VS Code settings if using
.idea/
.vscode/

# Dependency folders
node_modules/

# OS-specific
Thumbs.db
.DS_Store
